.button {
    width: 10vw;
    height: 5vw;

    font-size: 2vw;
    font-family: Roboto-Regular;

    position: absolute;

    color: rgb(212, 212, 212);
    background-color: rgb(51, 51, 51);

    border: 0.1vw solid rgb(85, 85, 85);
    border-radius: 1vw;

    cursor: pointer;

    transition: 0.1s color ease-in-out, 0.1s background-color ease-in-out;
}

.button:hover {
    color: rgb(241, 241, 241);
    background-color: rgb(66, 66, 66);
}

.image-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-button img {
    max-width: 3vw;
    max-height: 3vw;

    object-fit: contain;
}