.panel--output-name-path {
    width: 98vw;
    height: 10vw;

    left: 0vw;
    top: 0vw;

    border-radius: 0vw;

    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    border: 0.1vw solid rgb(65, 65, 65);
    border-left: none;
    border-top: none;
    border-right: none;
}

.text--output-name {
    left: 1vw;
    top: 0vw;
}

.textbox--output-name {
    width: 25vw;

    left: 1vw;
    top: 4vw;
}

.text--output-path {
    left: 27vw;
    top: 0vw;
}

.button--output-path {
    width: 5vw;
    height: 5vw;

    left: 27vw;
    top: 4vw;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.textbox--output-path {
    width: 60vw;

    left: 32vw;
    top: 4vw;

    box-sizing: border-box;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button--output-path-open {
    width: 5vw;
    height: 5vw;

    left: 92vw;
    top: 4vw;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}