/* hide the default checkbox */
.checkbox input[type="checkbox"] {
    display: none;
}

/* style the custom checkbox box */
.checkbox .checkbox-checkmark {
    width: 3.25vw;
    height: 3.25vw;

    position: absolute;

    background-color: rgb(51, 51, 51);

    border-radius: 0.5vw;

    transition: background-color 0.2s, border-color 0.2s;

    cursor: pointer;
}

/* change background when checked */
.checkbox input[type="checkbox"]:checked+.checkbox-checkmark {
    background-color: rgb(40, 116, 50);
}

/* add checkbox-checkmark symbol */
.checkbox .checkbox-checkmark::after {
    width: 0.75vw;
    height: 1.5vw;

    position: absolute;
    left: 1.3vw;
    top: 0.475vw;

    content: "";

    border: solid white;
    border-width: 0 0.15vw 0.15vw 0;

    transform: rotate(45deg);

    display: none;
}

/* show checkbox-checkmark when checked */
.checkbox input[type="checkbox"]:checked+.checkbox-checkmark::after {
    display: block;
}