.dropdown {
    font-size: 2vw;

    position: absolute;

    color: rgb(212, 212, 212);
    background-color: rgb(41, 41, 41);
    border: 0.1vw solid rgb(85, 85, 85);
    border-radius: 0.25vw;

    accent-color: aqua;

    cursor: pointer;
}

.dropdown--formats {
    width: 20vw;
    height: 4vw;

    left: 2vw;
    top: 18vw;
}