.textbox {
    font-size: 2vw;
    font-family: Roboto-Regular;

    position: absolute;

    color: rgb(212, 212, 212);
    background-color: rgb(41, 41, 41);
    border: 0.1vw solid rgb(85, 85, 85);
    border-radius: 0.25vw;
}

.textbox--url {
    width: 60vw;
    height: 3vw;

    left: 1vw;
    top: 8vw;
}

.textbox--name {
    width: 36vw;
    height: 3vw;

    left: 62vw;
    top: 8vw;
}