@font-face
{
    font-family: KarrikRegular;
    src: url(../../fonts/karrikregular.ttf);
}

::-webkit-scrollbar
{
    width: 0.75em;
}

::-webkit-scrollbar-thumb
{
    border-radius: 100px;
    background: #282928;
}

::-webkit-scrollbar-track
{
    background: #0C0D0D;
}

body
{
    text-align: center;
    background-image: linear-gradient(#0C0D0D, #282928);
}

.headDesc
{
    margin: 0 auto;
    font-family: KarrikRegular;
    font-size: 15px;
    inline-size: 355px;
    color: #FFFFFF;
}

.headProgram
{
    border: 3px solid #282928;
    border-radius: 3px;
}

.dlButton
{
    padding: 10px 25px;
    background-image: linear-gradient(#1F231F, #1C351C);
    border: 3px solid #32CD32;
    border-radius: 3px;
    font-family: KarrikRegular;
    font-size: 30px;
    color: #32CD32;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}
.dlButton:hover
{
    color: #5FCC5F;
    border: 3px solid #5FCC5F;
    box-shadow: 0 5px 15px #32CD3233;
}

.dlButtonAll
{
    position: relative;
    top: 15px;
    font-family: KarrikRegular;
    color: #228B22;
    text-decoration: none;
}

.copyrightText
{
    font-family: KarrikRegular;
    font-size: 10px;
    color: #696969;
    padding-top: 5px;
}