.panel--output {
    width: 98vw;
    height: 5vw;

    left: 1vw;
    top: 36vw;

    background-color: rgb(231, 28, 28);
}

.button--output-download {
    width: 30vw;
    height: 10vw;

    left: 1vw;
    top: 100vw;

    color: #32CD32;
    background-color: #104410;
    border: 0.5px solid #218821;

    font-size: 4vw;

    transition: 0.4s color ease-in-out, 0.4s background-color ease-in-out;
}

.button--output-download:hover {
    color: #31d331;
    background-color: #135313;
}