.text--output {
    font-size: 2.5vw;
    font-family: Roboto-Regular;

    left: 1.25vw;
    top: 46vw;

    color: rgb(88, 88, 88);
}

.panel--output {
    width: 98vw;
    height: 25vw;

    left: 1vw;
    top: 50vw;

    background-color: rgb(22, 22, 22);

    border-radius: 1vw;
    border: 0.1vw solid rgb(85, 85, 85);
}

.button--output-download {
    width: 28vw;
    height: 13vw;

    left: 1vw;
    top: 11vw;

    color: rgb(50, 205, 50);
    background-color: rgb(16, 68, 16);
    border: 0.2vw solid rgb(33, 136, 33);

    font-size: 4vw;

    transition: 0.4s color ease-in-out, 0.4s background-color ease-in-out;
}

.button--output-download:hover {
    color: rgb(49, 211, 49);
    background-color: rgb(19, 83, 19);
}

.text--output-name {
    left: 1vw;
    top: 1vw;
}

.textbox--output-name {
    width: 27vw;

    left: 1vw;
    top: 5vw;
}

.text--output-path {
    left: 30vw;
    top: 1vw;
}

.textbox--output-path {
    width: 61vw;

    left: 35vw;
    top: 5vw;
}

.button--output-path {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.5vw;
    height: 4.5vw;

    left: 30vw;
    top: 5vw;
}

.button--output-path img {
    max-width: 3vw;
    max-height: 3vw;
    object-fit: contain;
}

.text--output-console {
    left: 30vw;
    top: 10vw;
}

.button--output-console-open {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5vw;
    height: calc(10vw + 1px);

    border-radius: 0.5vw;
    border-left: none;
    background-color: rgb(27, 27, 27);

    left: 92vw;
    top: 14vw;
}

.button--output-console-open img {
    max-width: 4vw;
    max-height: 4vw;
    object-fit: contain;
}

.output-console-textarea {
    width: 61vw;
    height: 9vw;

    left: 30vw;
    top: 14vw;

    font-size: 2vw;

    position: absolute;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.5vw;

    resize: none;
}

.output-console-textarea:focus {
    border-color: #797979;
    outline: none;
}