.panel--settings-formats {
    width: 30vw;
    height: 11vw;

    background-color: rgb(36, 36, 36);

    border-radius: 0vw;
    border-top-left-radius: 1vw;
}

.text--settings-formats {
    left: 1vw;
    top: 0.5vw;
}

.dropdown--settings-formats {
    width: 28vw;
    height: 5vw;

    left: 1vw;
    top: 5vw;
}